{# class `text` will add the blue line #}
<section class="form {{ page.header.class }} {{ page.header.body_classes }}">
  <div class="container">
    <h2>{{ page.title }}</h2>
    {{ content }}
    <div id="form-result"></div>
    {% include "forms/form.html.twig" %}
  </div>
</section>

{% do assets.add('jquery', { 'priority': 100 }) %}
{% do assets.add('theme://js/form.js', { 'priority': 4, 'loading': 'async defer' }) %}
